body {
  background: #e6e6e6;
  color: #333;
  font-size: 18pt;
  font-family:"Segoe UI";
  height: auto;
}

/*текст статей*/
p {
  overflow: hidden;
  padding: 0;
  text-align: left;
  font-size:17px;
  font-family:"Segoe UI";
  color: #000;
}

/*sm;)e team в меню*/
h1 {
	font-family: "Segoe UI";
	font-weight: 400;
	text-align: center;
	vertical-align:top;
	font-size:10px;
	color: #fff;
	word-spacing: 10px;
	display:inline;
	line-height: 400%;  
}

/*банер заголовок*/
h2 {
  padding-top: 20px;
  text-align: center;
  font-weight:100;
  font-family:"Segoe UI Light";
  color:#ffffff;
  font-size:44px;
  text-shadow: #000 2px 2px 3px;
}

/*банер подзаголовок*/
h3 {
	padding: 0px 50px 0px 50px;
  text-align: center;
  font-weight:100;
  font-family:"Segoe UI Light";
  color:#ffffff;
  font-size:28px;
  line-height:40px;
  text-shadow: #000 1px 1px 0px;
}

/*заголовок статьи*/
h4 {
	text-align:left;
	font-weight:500;
	font-family:"Segoe UI Semibold";
	font-size:33px;
	margin:0px;
	padding:0px;
	display:inline;
	
}
/*теги статьи*/
h5 {
	text-align:left;
	font-size:20px;
	display:inline;
	vertical-align:top;
	display:inline;
	font-family:"Segoe UI Light";
	font-weight: 200;
}
	
/*загововок блога*/
h6 {
	text-align:left;
	font-weight:400;
	font-family:"Segoe UI";
	font-size:35px;
	margin:0px;
	padding:0px;
	display:inline;
	font-family: "Segoe UI Light";
}

/*простые ссылки*/
a {
  color: #474747;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #979797;
  text-decoration: underline;
}

/*заголовки статей в блоге*/
.tit {
  color: #000;
  text-decoration: underline;
  font-weight: 700;
  vertical-align:top;
}

/*теги статей в блоге и теги сортировки*/
.teg {
	color: #000;
	text-decoration: underline;
	padding-left: 7px;
    vertical-align:top;
	font-family:"Segoe UI Light";
}

/*меню навигации в хидере*/
.nav {
	color: #666;
  text-decoration: none;
  font-size:35px;
  vertical-align:text-top;
  font-family:"Segoe UI Light";
}

/*ссылки помощь в футере*/
.bottom {
	color: #fff;
	font-size:14px;
	text-decoration:none;
}

/*лицензия в футере*/
.lic {
	font-size:11px;
	color:#fff;
	text-align:right;
	padding:5px 10px 0 0;
}

/*выделение жирным шрифтом в баннере*/
.t {
	font-family:"Segoe UI";
	font-weight:900;
}

.tt {
	font-family:"Segoe UI Semibold";
}

/*960hs*/
.container_16 {
	background-color: #ccc;
	background-repeat: repeat-y;
	margin-bottom: 0px;
}

/*фон заголовка и подвада*/


.head {
	background-color: #000;
	background-repeat: repeat-x;
	margin: 0px;
	background-image:url(../img/head.gif);
	height: 50px;
	width: 100%;
}

.footer {
	background-color: #000;
	background-repeat: repeat-x;
	margin: 0px;
	background-image:url(../img/head.gif);
	height: 40px;
	width: 100%;
	position:absolute;
	bottom:0px;
}

/*контейнер для меню навигации*/
.menu {
	background-color: #000;
	background-repeat: repeat-x;
	background-image:url(../img/head.gif);
	margin-left:auto;
	margin-right:auto;
  	width: 960px;
	color: #fff;
	height:50px;
}

.menuf {
	background-color: #000;
	background-repeat: repeat-x;
	background-image:url(../img/head.gif);
	margin-left:auto;
	margin-right:auto;
  	width: 960px;
	color: #fff;
	height:40px;
}

/*подписи к изображениям проектов*/
.name {
	 background-color:#333;
	 margin:180px 0 0 0;
	 color:#fff;
	 font-size:27px;
	 opacity:0.7;
	 font-family:"Segoe UI Light";
	 position: absolute;
	 bottom: 0;
	 width:100%;
}

/*контейнер для информации о работнике*/
.contacts {
	width:100%;
	padding-left:0px;
	height:230px;
	background-color: #7f7f7f;
	margin-top:0px;
}

/*фотографии работников*/
.human {
	float:left;
	background-color:#4f4f4f;
	margin-bottom: 20px;
}

/*имена работников*/
.names {
	text-align:left;
	padding-top:40px;
	padding-left:245px;
}

/*должности работников*/
.post {
	text-align:left;
	padding-left:20px;
	color:#fff;
	padding-top:15px;
	font-size:24px;
	font-family:"Segoe UI Light";
}

/*текст контактных данных на странице контактов*/
.contact {
	color: #fff;
	font-size: 30px;
	font-family:"Segoe UI Light";
	display:inline;
	padding-left:10px;
	margin-top:0px;
}

/*теги на странице контактов*/
.n {
	color: #fff;
	padding-left: 7px;
    vertical-align:top;
}

/*заголовок ошибки*/
.error {
	color:#fff;
	font-family:"Segoe UI Light";
	font-size: 63px;
	text-align: left;
	text-shadow: none;
}

/*текст кода ошибки*/
.err { 
	color:#fff;
	font-family:"Segoe UI Light";
	font-size: 35px;
}	

/*код ошибки*/
.code {
	text-align:right; 
	font-family:"Segoe UI"; 
	vertical-align:top; 
	position:absolute; 
	bottom:0px; 
	width:960px; 
	font-size:430px; 
	margin-bottom:-120px; 
	padding-bottom:0px; 
	color:#d3d3d3;
}

.fon {
	text-align:right;
	margin-left:-480px;
	padding:0px;
	width:960px;
	height:100%;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#ccc;
	vertical-align:bottom;
	z-index:-1;
}

	

/*фотографии к статьям и фотографии проектов*/
#photo {
	background-color: #7f7f7f;
	position: relative;
	margin-bottom:20px;
	height:230px;
}

#photonews {
	background-color: #7f7f7f;
	position: relative;
	margin-bottom:10px;
	margin-top:14px;
	height:230px;
}

#zone {
	background-color: #7f7f7f;
	position: relative;
}

/*линия подчеркивания подзаголовка страницы*/
#title {
	background-image:url(../img/line.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	width: 710px;
	margin-right:0px;
	margin-bottom:20px;
}

/*картинка баннера*/
#banner {
	background-image:url(../img/banner.gif);
	height: 250px;
	width:960px;
	margin-left: 0px;
}

/*обновление*/

/*сласс для логотипа*/
#logotype {
	 width:219px;
	 height:50px;
	 border:0px;
	 margin: 0 20px 0 10px;
 }
 
 /*не подчеркиваем ссылки в хидере при наведении*/
.nav:hover {
	text-decoration: none;
	color: #888;
}

/*настроим растояние между ссылками в хидере*/
.link_menu {
	word-spacing: 25px;
 }

/*выделим белым кнопку цветовых решений*/ 
#style {
	color: #fff;
}

/*не наклоняем смайл в логотипе*/
b {
font-style:normal;
}
/*используем правильный шрифт в лого*/	
.comp {
	font-family: "Segoe UI";
	}

	/*пробуем прижать футер*/
	* {
	margin: 0px;
	padding: 0px;
	}
	
	html {height: 100%;}
	* html body {height: 100%;}
	body {
	min-height: 100%;
	position: relative;
	}
	
	#content {padding-bottom:50px;}