##
## Данный файл может располагаться в директории любого виртуального хоста.
## Любую из директив можно не указывать, тогда берется значение по умолчанию.
## Не пропустите ведущий символ "#" перед директивами!!!
##
## Если вы хотите настроить Apache так, чтобы хост был виден из локальной
## сети, см. статью http ://www.denwer.ru/faq/shared.html
## 

# Выключить обработку модулем mod_charset
<IfModule mod_charset.c>
  CharsetDisable On
</IfModule>
# Выставить кодировку по умолчанию стандартными средствами apache
AddDefaultCharset UTF-8
# Принудительно включать UTF-8
php_value default_charset utf-8
# Убираем расширение у файлов .php
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)?$ $1.php [L]
##
## Все dnwr-директивы "разворачиваются" в шаблоне виртуального хоста (httpd.conf).
## Библиотеки Денвера напрямую (минуя подстановку в шаблоне) их не используют.
## Вы можете добавить сюда и другие директивы, ссылаясь на них в шаблоне хоста.
##
